@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Hello JS</h2>

<p id="speech">Four score and seven years ago, ...</p>

<p id="likes">I love to code and make things with code.</p>

<ul id="colorsList">
    <li>Red</li>
    <li>Orange</li>
    <li>Yellow</li>
    <li>Green</li>
    <li>Blue</li>
</ul>

<button id="specialButton" onwaiting="changeSpeech();">Click Me!</button>

<script src="~/Scripts/DOMStuff.js"></script>